@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Rock+Salt&family=Sigmar&display=swap');

div {
    max-width: 1600px;
}
#content {
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #650A34;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body{
    background-color: #F1ECD9;
    font-family: Rock Salt, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(red, green, blue, alpha);
}
nav a:hover {
    background-color:#F10B0B;
    color: #F7E010;
}
.book, .join {
    background-color: #A4AC86;
    color: #F7055A;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: blueviolet;
    color: aliceblue;
}
#background {
    background-color: #333D29;
}
.msg {
    background-color: #A68A64;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #766B60;
    color: #F7E205;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: #040B3E;
    font-family: Rock Salt, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #0A6657;
}
.msg h2{
    color: #650A34;
}
.msg p {
    color: aliceblue;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: #38DFF1;
    text-decoration: none;
}
footer a:hover {
    color: #A0FAA3;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2cm;
}
footer p a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d10f29;
}
main section img {
    box-sizing: border-box;
}
